LOG_LEVEL=info
IM_URL=http://localhost:8800
DB_URL=file:///tmp/adm.db
# db or vault
ALLOCATION_STORE=db
VAULT_URL=https://secrets.egi.eu
ENCRYPT_KEY=3JSvUdOsAlvSNVYvBwHWE-iKdWkhq4C_LmjRcpuycT0=
#ROOT_PATH=/adm
# git or rc
TOOL_STORE=git
# In case of git, the repository where to store the tools
ADM_TOOLS_REPO="https://github.com/grycap/tosca/blob/eosc_lot1/templates/"
# In case of RC, the URL of the Resource Catalog API
RESOURCE_CATALOG="https://providers.sandbox.eosc-beyond.eu/api"
# Comma separated list of OIDC issuers to accept tokens from
OIDC_ISSUERS="https://aai.egi.eu/auth/realms/egi,https://aai-demo.egi.eu/auth/realms/egi"
# Audience to check in the token, if not specified, no audience check will be performed
#OIDC_AUDIENCE=adm
# Comma separated list of groups to check in the token, if not specified, no group check will be performed
#OIDC_GROUPS="eosc-beyond.eu"
#OIDC_CLIENT_ID=adm
#OIDC_CLIENT_SECRET=secret