LOG_LEVEL=info
IM_URL=http://localhost:8800
DB_URL=file:///tmp/awm.db
# db or vault
ALLOCATION_STORE=db
VAULT_URL=https://secrets.egi.eu
ENCRYPT_KEY=3JSvUdOsAlvSNVYvBwHWE-iKdWkhq4C_LmjRcpuycT0=
#ROOT_PATH=/awm
# git or rc
TOOL_STORE=git
# In case of git, the repository where to store the tools
AWM_TOOLS_REPO="https://github.com/grycap/tosca/blob/eosc_lot1/templates/"
# In case of RC, the URL of the Resource Catalog API
RESOURCE_CATALOG="https://providers.sandbox.eosc-beyond.eu/api"